<!-- Page Wrapper -->
<div id="wrapper">
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Begin Page Content -->
    <div class="container-fluid">
      <!-- Page Heading -->
      <h1 class="h3 mb-2 text-gray-800">Thống kê</h1>

      <!-- Content Row -->
      <!-- 4 elements -->
      <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div
                    class="text-xs font-weight-bold text-warning text-uppercase mb-1"
                  >
                    Tổng số khóa học
                  </div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">3</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-comments fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div
                    class="text-xs font-weight-bold text-info text-uppercase mb-1"
                  >
                    Tổng số giảng viên
                  </div>
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                        5
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div
                    class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                  >
                    Phòng học
                  </div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">
                    4
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-door-open fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div
                    class="text-xs font-weight-bold text-success text-uppercase mb-1"
                  >
                    Quản trị viên
                  </div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">
                    2
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-user fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4 col-lg-5">
          <div class="card shadow mb-4">
            <div
              class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
            >
              <h6 class="m-0 font-weight-bold text-primary">
                Thống kê học viên đăng ký
              </h6>
            </div>
            <div class="card-body">
              <form [formGroup]="filterForm1" (submit)="filter1()">
                <div class="row">
                  <div class="col-md-6">Từ</div>
                  <div class="col-md-6">Đến</div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Tháng"
                    />
                  </div>
                  <div class="form-group col-md-3">
                    <input type="text" class="form-control" placeholder="Năm" />
                  </div>
                  <div class="form-group col-md-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Tháng"
                    />
                  </div>
                  <div class="form-group col-md-3">
                    <input type="text" class="form-control" placeholder="Năm" />
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">
                  Tìm
                </button>
              </form>
              <div class="hvdkChart">
                <div style="display: block;">
                  <canvas
                    baseChart
                    height="400"
                    width="400"
                    [data]="hvdkData"
                    [labels]="hvdkLabels"
                    [chartType]="hvdkType"
                    [options]="hvdkOptions"
                    [plugins]="hvdkPlugins"
                    [legend]="hvdkLegend"
                  >
                  </canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="card shadow mb-4">
            <div
              class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
            >
              <h6 class="m-0 font-weight-bold text-primary">
                Thống kê học viên thanh toán
              </h6>
            </div>
            <div class="card-body">
              <div class="hvttChart">
                <form [formGroup]="filterForm2" (submit)="filter2()">
                  <div class="row">
                    <div class="col-md-6">Từ</div>
                    <div class="col-md-6">Đến</div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Tháng"
                      />
                    </div>
                    <div class="form-group col-md-3">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Năm"
                      />
                    </div>
                    <div class="form-group col-md-3">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Tháng"
                      />
                    </div>
                    <div class="form-group col-md-3">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Năm"
                      />
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">
                    Tìm
                  </button>
                </form>
                <div style="display: block;">
                  <canvas
                    baseChart
                    height="400"
                    width="400"
                    [data]="hvttData"
                    [labels]="hvttLabels"
                    [chartType]="hvttType"
                    [options]="hvttOptions"
                    [plugins]="hvttPlugins"
                    [legend]="hvttLegend"
                  >
                  </canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="card shadow mb-4">
            <div
              class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
            >
              <h6 class="m-0 font-weight-bold text-primary">
                Thống kê doanh thu đăng ký
              </h6>
            </div>
            <div class="card-body">
              <form [formGroup]="filterForm3" (submit)="filter3()">
                <div class="row">
                  <div class="col-md-6">Từ</div>
                  <div class="col-md-6">Đến</div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <!-- <label>Từ</label> -->
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Tháng"
                    />
                  </div>
                  <div class="form-group col-md-3">
                    <!-- <label hidden>Năm</label> -->
                    <input type="text" class="form-control" placeholder="Năm" />
                  </div>
                  <div class="form-group col-md-3">
                    <!-- <label>Đến</label> -->
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Tháng"
                    />
                  </div>
                  <div class="form-group col-md-3">
                    <!-- <label hidden>Năm</label> -->
                    <input type="text" class="form-control" placeholder="Năm" />
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">
                  Tìm
                </button>
              </form>
              <div class="dtdkChart">
                <div style="display: block;">
                  <canvas
                    baseChart
                    height="400"
                    width="400"
                    [data]="dtdkData"
                    [labels]="dtdkLabels"
                    [chartType]="dtdkType"
                    [options]="dtdkOptions"
                    [plugins]="dtdkPlugins"
                    [legend]="dtdkLegend"
                  >
                  </canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
