<!-- Page Wrapper -->
<div id="wrapper">
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Begin Page Content -->
    <div class="container-fluid">
      <!-- Page Heading -->
      <h1 class="h3 mb-2 text-gray-800">Danh sách khóa học</h1>
      <div class="row">
        <div class="col-2">
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" (change)="TrangThaiKichHoat($event)" id="tatcakichhoat"
              value="-1" name="trangthaihoatdong" checked>
            <label class="custom-control-label" for="tatcakichhoat">Tất cả</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" (change)="TrangThaiKichHoat($event)" id="kichhoat"
              value="1" name="trangthaihoatdong">
            <label class="custom-control-label" for="kichhoat">Đang kích hoạt</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" (change)="TrangThaiKichHoat($event)" id="chuakichhoat"
              value="0" name="trangthaihoatdong">
            <label class="custom-control-label" for="chuakichhoat">Chưa kích hoạt</label>
          </div>
        </div>
      </div>
      <button (click)="createForm()" class="btn btn-success" data-toggle="modal" data-target="#khoahocModal">Thêm khóa
        học</button>
      <!-- DataTales Example -->
      <div class="card shadow mb-4">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Tên khóa học</th>
                  <th>Ghi chú</th>
                  <th>Trạng thái</th>
                  <th>Hành động</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Tên khóa học</th>
                  <th>Ghi chú</th>
                  <th>Trạng thái</th>
                  <th>Hành động</th>
                </tr>
              </tfoot>
              <tbody>
                <tr *ngFor="let khoahoc of listKhoaHoc" (dblclick)="dbClick($event)">
                  <td id="{{khoahoc ? khoahoc.IDKhoaHoc:-1}}">{{khoahoc ? khoahoc.TenKhoaHoc:""}}</td>
                  <td id="{{khoahoc ? khoahoc.IDKhoaHoc:-1}}">
                    <p>{{khoahoc ? khoahoc.GhiChu:""}}</p>
                  </td>
                  <td align="center" id="{{khoahoc ? khoahoc.IDKhoaHoc:-1}}">
                    <div class="custom-control custom-checkbox">
                      <input (change)="changeTrangThai($event)" type="checkbox" class="custom-control-input"
                        id="tt-{{khoahoc ? khoahoc.IDKhoaHoc:-1}}"
                        [checked]="khoahoc ? (khoahoc.TrangThai==1?true:false):false">
                      <label class="custom-control-label" for="tt-{{khoahoc ? khoahoc.IDKhoaHoc:-1}}"></label>
                    </div>
                  </td>

                  <td align="center" id="{{khoahoc ? khoahoc.IDKhoaHoc:-1}}">
                    <div>
                      <a (click)="suaKhoaHoc($event)" id="{{khoahoc ? khoahoc.IDKhoaHoc:-1}}" data-toggle="modal"
                        data-target="#khoahocModal" class="fas fa-edit marginicon"></a>
                      <a (click)="xoaKhoaHoc($event)" id="{{khoahoc ? khoahoc.IDKhoaHoc:-1}}" data-toggle="modal"
                        data-target="#xoakhoahocModal" class="fas fa-trash-alt marginicon"></a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- End of Main Content -->

</div>
<!-- them khoa hoc Modal-->
<div class="modal fade" id="khoahocModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Khóa học</h5>
        <button class="close" type="button" #closebutton data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="khoahocForm">
          <div class="form-group">
            <label for="txt-khoahoc-name">Tên khóa học: </label>
            <input type="text" class="form-control" name="txt-khoahoc-name" formControlName="TenKhoaHoc">
          </div>
          <div class="form-group">
            <label for="txt-ghichu-name">Ghi chú: </label>
            <input type="text" class="form-control" name="txt-ghichu-name" formControlName="GhiChu">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
        <button *ngIf="btnedit===false" class="btn btn-primary" (click)="them()">Thêm</button>
        <button *ngIf="btnedit===true" class="btn btn-primary" (click)="sua()">Sửa</button>
      </div>
    </div>
  </div>
</div>

<!-- xóa khóa học -->
<div class="modal fade" id="xoakhoahocModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa khóa học</h5>
        <button class="close" type="button" #closebuttonDelete data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có thật sự muốn xóa khóa học này? Khi bạn xóa thì tất cả các lớp học và thông tin liên quan đến khóa học này sẽ bị xóa!</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
        <button class="btn btn-danger" (click)="xoa()">Xóa</button>
      </div>
    </div>
  </div>
</div>