<!-- Page Wrapper -->
<div id="wrapper">
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Begin Page Content -->
    <div class="container-fluid">
      <!-- Page Heading -->
      <h1 class="h3 mb-2 text-gray-800">Danh sách học viên </h1>
      <div>
      <button *ngIf=!isGiangVien style="margin-right: 5px;"(click)="themHocVien()" class="btn btn-success" 
      data-toggle="modal" data-target="#hocvienModal" >Thêm học viên</button>
      <button  (click)="guiMailLop()" class="btn btn-success" 
      data-toggle="modal" data-target="#sendMailModal"style="margin-right: 5px;" >Gửi mail</button>
        <input type="checkbox" name="allhv" id="" style="margin-right: 5px;" (change)="changeAllHocVien()" *ngIf=allhocvien>
        <label for="allhv" *ngIf=allhocvien >Tất cả học viên</label>
      </div>
      <!-- DataTales Example -->
      <div class="card shadow mb-4">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Tên học viên</th>
                  <th>Số điện thoại</th>
                  <th>Email</th>
                  <th *ngIf=!isGiangVien>Thời gian đăng kí</th>
                  <th *ngIf=!isGiangVien>Hình thức thanh toán</th>
                  <th *ngIf=!isGiangVien>Số tiền</th>
                  <th *ngIf=!isGiangVien>Trạng thái thanh toán</th>
                  <th *ngIf=!isGiangVien>Trạng thái</th>
                  <th *ngIf=!isGiangVien>Hành động</th>
                  <th >Gửi mail</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Tên học viên</th>
                  <th>Số điện thoại</th>
                  <th>Email</th>
                  <th *ngIf=!isGiangVien>Thời gian đăng kí</th>
                  <th *ngIf=!isGiangVien>Hình thức thanh toán</th>
                  <th *ngIf=!isGiangVien>Số tiền</th>
                  <th *ngIf=!isGiangVien>Trạng thái thanh toán</th>
                  <th *ngIf=!isGiangVien>Trạng thái</th>
                  <th *ngIf=!isGiangVien>Hành động</th>
                  <th >Gửi mail</th>
                </tr>
              </tfoot>
              <tbody>
                <tr *ngFor="let hv of listHocVien" >
                  <td >{{hv ? hv.TenHocVien:""}}</td>
                  <td >{{hv ? hv.SoDienThoai:""}}</td>
                  <td >{{hv ? hv.Email:""}}</td>
                  <td *ngIf=!isGiangVien>{{hv ? hv.ThoiGianDangKi:""}}</td>
                  <td *ngIf=!isGiangVien>{{hv ? hv.HinhThucThanhToan:""}}</td>
                  <td *ngIf=!isGiangVien>{{hv ? hv.SoTien:""}}</td>
                  <td align="center" *ngIf=!isGiangVien>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" name="{{hv ? hv.IDHocVien:-1}}"
                        checked="true">
                      <label class="custom-control-label" for="{{hv ? hv.IDHocVien:-1}}"></label>
                    </div>
                  </td>
                  <td align="center" *ngIf=!isGiangVien>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" name="{{hv ? hv.IDHocVien:-1}}"
                        checked="true">
                      <label class="custom-control-label" for="{{hv ? hv.IDHocVien:-1}}"></label>
                    </div>
                  </td>
                  <td align="center" id="{{hv ? hv.IDHocVien:-1}}" *ngIf=!isGiangVien >
                    <div>
                      <a (click)="xemHocVien($event)" id="{{hv ? hv.IDHocVien:-1}}" data-toggle="modal"
                        data-target="#hocvienModal" class="fas fa-clipboard marginicon"></a>
                      <a (click)="suaHocVien($event)" id="{{hv ? hv.IDHocVien:-1}}" data-toggle="modal"
                        data-target="#hocvienModal" class="fas fa-edit marginicon"></a>
                      <a (click)="xoaHocVien($event)" id="{{hv ? hv.IDHocVien:-1}}" data-toggle="modal"
                        data-target="#xoahocvienModal" class="fas fa-trash-alt marginicon"></a>
                    </div>
                  </td>
                  <td align="center" >
                    <button id="{{hv ? hv.IDHocVien:-1}}" (click)="guiMailCaNhan($event)" class="btn btn-success" 
                    data-toggle="modal" data-target="#sendMailModal">Gửi mail</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- End of Main Content -->
</div>

<!-- them lớp học phần Modal -->
<div class="modal fade" id="hocvienModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Học viên</h5>
        <button class="close" type="button" #closebutton data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="hocvienForm">
          <div class="form-group">
            <label for="txt-tenhocvien-name">Tên học viên: </label>
            <input type="text" class="form-control" name="txt-tenhocvien-name" formControlName="TenHocVien">
          </div>
          <div class="form-group">
            <label for="txt-sdt-name">Số điện thoại: </label>
            <input type="text" class="form-control" name="txt-sdt-name" formControlName="SoDienThoai">
          </div>
          <div class="form-group">
            <label for="txt-email-name">Email: </label>
            <input type="email" class="form-control" name="txt-email-name" formControlName="Email">
          </div>
          <div class="form-group">
            <label for="txt-khoahoc-name">Khóa học: </label>
            <select class="form-control" name="txt-khoahoc-name" formControlName="KhoaHoc" #t
              (change)="changeIDKhoaHoc(t.value)" name="something1">
              <option *ngFor="let kh of listKhoaHoc" value="{{kh.IDKhoaHoc}}">
                {{ kh.TenKhoaHoc }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="txt-tenlophoc-name">Tên lớp học: </label>
            <select class="form-control" name="txt-tenlophoc-name" formControlName="TenLopHoc"
              #lhp (change)="changeIDLopHocPhan(lhp.value)" name="something12" >
              <option *ngFor="let lhp of listLopHocPhan" value="{{ lhp.IDLopHocPhan }}">
                {{ lhp.TenLopHocPhan }}
              </option>
            </select>
          </div>
          <div class="form-group" style="overflow-x: auto;">
            <label for="txt-lophoc-name">Lớp học: </label>
            <select class="form-control" name="txt-lophoc-name" formControlName="LopHoc">
              <option *ngFor="let lh of listLopHoc" value="{{ lh.IDLopHoc }}">
                {{ lh.ThongTinLopHoc }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="txt-hocphi-name">Học phí: </label>
            <input type="text" class="form-control" name="txt-hocphi-name" formControlName="HocPhi"
              value={{HocPhiLopHoc}}>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
        <button *ngIf="btnedit===false" class="btn btn-primary" (click)="them()">Thêm</button>
        <button *ngIf="btnedit===true" class="btn btn-primary" (click)="sua()">Sửa</button>
      </div>
    </div>
  </div>
</div>

<!-- xóa giang vien -->
<div class="modal fade" id="xoahocvienModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa học viên</h5>
        <button class="close" type="button" #closebuttonDelete data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có thật sự muốn xóa học viên này. Nếu bạn xóa thì toàn bộ thông tin liên quan đến học viên này sẽ bị xóa
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
        <button class="btn btn-danger" (click)="xoa()">Xóa</button>
      </div>
    </div>
  </div>
</div>

<!-- sendmail -->
<div class="modal fade" id="sendMailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Gửi mail</h5>
        <button class="close" type="button" #closebutton1 data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="sendMailForm">
          <div class="form-group">
            <label for="txt-tieude-name">Tiêu đề: </label>
            <input type="text" class="form-control" name="txt-tieude-name" formControlName="TieuDe">
          </div>
          <div class="form-group">
            <label for="txt-noidung-name">Nội dung: </label>
            <input type="text" class="form-control" name="txt-noidung-name" formControlName="NoiDung">
          </div>
          <button class="btn btn-primary" (click)="changeDinhKem($event)">Đính kèm</button>
          <div class="form-group" *ngIf="hasFile">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Tệp đính kèm</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFileLangHTML" (change)="onSelectedFile($event)"formControlName="File">
                <label id="nameoffile" class="custom-file-label" for="customFileLangHTML" data-browse="Chọn tệp">Không
                  có tệp nào được chọn</label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
        <button class="btn btn-primary" (click)="sendMail()">Gửi</button>
      </div>
    </div>
  </div>
</div>