<!-- Page Wrapper -->
<div id="wrapper">
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Begin Page Content -->
    <div class="container-fluid">
      <!-- Page Heading -->
      <h1 class="h3 mb-2 text-gray-800 d-inline">Thống kê các khóa học</h1>
      <button
        class="btn btn-primary backBtn btn-md pull-left d-inline float-right"
        type="button"
        [routerLink]="['/nv/thongke']"
        routerLinkActive="router-link-active"
      >
        <i class="fa fa-arrow-left"></i>
        Back
      </button>
    </div>
  </div>
</div>
